pyrogram
tgcrypto
python-telegram-bot==20.0a0
motor
pymongo[srv]
pillow
gpytranslate
googletrans
cloudscraper
gTTS
bs4
requests
aiohttp
speedtest-cli
secureme
multicolorcaptcha
emoji==1.7
pyrate-limiter
psutil
pynewtonmath
pykeyboard
python-arq
pillow
img2pdf
wikipedia
opencv-python-headless
telegraph
contextlib
fuzzysearch
search-engine-parser
pytube
